<div class="container-fluid" style="overflow-x: hidden;">
  <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                    <span class="input-group-text">{{'report.startdate' | translate}}</span>
                </div>
                <input id="startDate" type="date" placeholder="yyyy-mm-dd" class="form-control" [(ngModel)]="startDate" (change)="onDateChange($event.target.value, 'START')" />
            </div>
        </div>
        <div class="col-md-offset-1 col-md-3">
            <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                    <span class="input-group-text">{{'report.enddate' | translate}}</span>
                </div>
                <input id="endDate" type="date" placeholder="yyyy-mm-dd" class="form-control" [(ngModel)]="endDate" (change)="onDateChange($event.target.value, 'END')" />
            </div>
        </div>
        <div class="col-md-3"></div>
  </div>

  <div class="graph-wrapper">
    <div class="row">
      <div class="col-sm-12">
        <div class="text-center mb-3" [hidden]="!showActivity">
            <dl><b>{{(islanguageEnglish)? 'Activity Chart':'Aktivitetsdiagram'}}</b></dl>
        </div>
        <div class="legend-styles" [hidden]="!showActivity">
            <div class="text-center">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="insulincustom walking custom-control-input" id="walking" [checked]="true" (click)="activitiesTypeChange($event.target.checked, 'walking')" />
                    <label class="custom-control-label" for="walking">{{'activity.walking' | translate}}</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="activitycustom jogging custom-control-input" id="Jogging" [checked]="true" (click)="activitiesTypeChange($event.target.checked, 'jogging')" />
                    <label class="custom-control-label" for="Jogging">{{'activity.jogging' | translate}}</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="carbscustom running custom-control-input" id="running" [checked]="true" (click)="activitiesTypeChange($event.target.checked, 'running')" />
                    <label class="custom-control-label" for="running">{{'activity.running' | translate}}</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="insulincustom liftingweight custom-control-input" id="weight" [checked]="true" (click)="
                  activitiesTypeChange($event.target.checked, 'lifting_weight')
                " />
                    <label class="custom-control-label" for="weight">{{'activity.liftingweight' | translate}}</label
              >
            </div>
          </div>
        </div>
        <div class="legend-styles">
          <div class="chart-wrap" [hidden]="!showActivity">
            <div class="chart-wrapper" id="chart-distro2" #dataContainer></div>
            <div id="acitivity-slider"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="slider-wrap">
      <ng5-slider
        [(value)]="value"
        [(highValue)]="maxValue"
        [options]="options"
        (userChange)="onUserChange($event)"
      ></ng5-slider>
    </div> -->
  </div>

</div>
