<div class="container-fluid" style="overflow-x: hidden;">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                    <span class="input-group-text">{{'report.startdate' | translate}}</span>
                </div>
                <input id="startDate" type="date" placeholder="yyyy-mm-dd" class="form-control" [(ngModel)]="startDate" (change)="onDateChange($event.target.value, 'START')" />
            </div>
        </div>
        <div class="col-md-offset-1 col-md-3">
            <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                    <span class="input-group-text">{{'report.enddate' | translate}}</span>
                </div>
                <input id="endDate" type="date" placeholder="yyyy-mm-dd" class="form-control" [(ngModel)]="endDate" (change)="onDateChange($event.target.value, 'END')" />
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>

    <div class="graph-wrapper">

        <div class="row">
            <div class="col-sm-12">
                <div class="text-center" [hidden]="!showCarbs">
                    <dl><b>{{(islanguageEnglish)? 'Carbs Chart': 'Kolhydrater Diagram'}}</b></dl>
                    <div class="custom-control custom-checkbox" style="display: inline-block;">
                        <input type="checkbox" class="insulincustom before-meal custom-control-input" id="carbohydrates" [checked]="true" (click)="carbsTypeChange($event.target.checked, '1')" />
                        <label class="custom-control-label" for="carbohydrates">{{'carbs.carbohydrates' | translate}}</label
          >
        </div>
        <div
          class="custom-control custom-checkbox"
          style="display: inline-block;"
        >
          <input
            type="checkbox"
            class="activitycustom jogging custom-control-input"
            id="proteins"
            [checked]="true"
            (click)="carbsTypeChange($event.target.checked, '2')"
          />
          <label class="custom-control-label" for="proteins">{{'carbs.proteins' | translate}}</label>
                    </div>
                    <div class="custom-control custom-checkbox" style="display: inline-block;">
                        <input type="checkbox" class="carbscustom running custom-control-input" id="fibers" [checked]="true" (click)="carbsTypeChange($event.target.checked, '3')" />
                        <label class="custom-control-label" for="fibers">{{'carbs.fibers' | translate}}</label>
                    </div>

                </div>
                <div class="chart-wrap" style="width: 100%; margin: 0 auto;" [hidden]="!showCarbs">
                    <div class="chart-wrapper" id="chart-distro3" #dataContainer></div>
                    <div id="carbs-slider"></div>
                </div>
            </div>

        </div>
        <!-- <div class="slider-wrap">
            <ng5-slider [(value)]="value" [(highValue)]="maxValue" [options]="options" (userChange)="onUserChange($event)"></ng5-slider>
        </div> -->
    </div>

</div>
