 $main-color: brown;
.invalid-feedback {
  display: block;
  text-align: center;
}

.ml-10{margin-left:8% !important;}

.tweet-img{
 margin-top: 50px;
 min-height: 380px;
 padding:30px;
}
.tweet-img .title{
  font-family: 'Kaushan Script', cursive;
  color: rgb(82, 47, 47);
}
span{
  display: block;
  margin: 0 auto;
}
.upload-input {
  display: none;
}
.btn{
  cursor: pointer;
  width: 50%;
  // margin-left:25%;
  background-color:#008000;
  border-color: #008000;
  color: white;

  &:hover, &:focus, &:active {
    border-color: $main-color !important;
    background-color: $main-color !important;
  }
}

img{
  background: rgb(251, 171, 171);
  border-radius: 20%;
  width: 200px;
  height: 200px;
  display: block;
}

.darkblue{
  background: #DC143C !important; 
  border-color: #DC143C !important; 
  color: #FFFFFF;
  // margin-left: 25%;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}
.turquoise{
  background: #ffdb58 !important; 
  border-color:#ffdb58 !important;
  color: #FFFFFF;
  // margin-left: 25%;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}
.w-100{width:100% !important;}

@media screen and (max-width: 900px) {
  .image-upload {
    margin-top: 120px;
  }

  img{
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 20px;
  }
  .tweet-img{
    margin-top: 25px;
   }
}

@media screen and (max-width: 400px) {
  img{
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 20px
  }
  .tweet-img{
    margin-top: 10px;
   }
  .turquoise{
    background: #ffdb58 !important; 
    border-color:#ffdb58 !important;
    color: #FFFFFF;
    // margin-left: 25%;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
  }
  .darkblue{
    background: #DC143C!important; 
    border-color: #DC143C!important; 
    color: #FFFFFF;
    // margin-left: 25%;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
  }
  .btn{
    cursor: pointer;
    width: 50%;
    // margin-left:25%;
    background-color: #008000;
    border-color:#008000;
    color: white;
  
    &:hover, &:focus, &:active {
      border-color: $main-color !important;
      background-color: $main-color !important;
    }
  }
}