<!-- <div class="tweet-img container">
  <div class="row">
    <div  class="col-lg-4 col-sm-4">
      <button routerLink="/insulin" class="btn-block darkblue">Insulin Dosages</button>
    </div>
    <div  class="col-lg-4 col-sm-4">
      <button routerLink="/activity" class="btn btn-block w-100">Activity Level</button>
    </div>
    <div  class="col-lg-4 col-sm-4">
      <button routerLink="/carbs" class="btn-block turquoise">Carbs Amount</button>
    </div>
  </div>
</div> -->
<!-- Sign up form -->
<section class="">
  <div class="container-fluid">
    <div class="row shadow-none bg-white rounded formBodyOuter">
      <!-- <div class="col-2"></div> -->
      <div class="form-body-inside">
        <div class="signup-content text-center">
          <div class=" w-100">
            <h2 class="form-title">{{ 'carbs.carbsamount' | translate }}</h2>
            <form class="register-form" id="register-form" (ngSubmit)="onSubmit()" [formGroup]="carbsForm"
              [mustMatch]="['pass', 'repass']" novalidate>

              <div class="form-group row">
                  <div class="col-md-12">
                    <select [ngClass]="{'selectColor': carbsFormCtrl.carbsType.value ==''}" class="form-control"
                      name="carbsType" id="carbsType" placeholder="Carbs Type" formControlName="carbsType"
                      name="car">
                      <option value="" selected="true" class="please-select">{{ 'carbs.pleaseselect' | translate }}</option>
                      <option value="1">
                        {{ 'carbs.carbohydrates' | translate }}
                      </option>
                      <option value="2">
                        {{ 'carbs.proteins' | translate }}
                      </option>
                      <option value="3">
                        {{ 'carbs.fibers' | translate }}
                      </option>
                    </select>
                  </div>
                  <div *ngIf="isSubmitted && carbsFormCtrl.carbsType.invalid" class="invalid-feedback">
                    <div *ngIf="carbsFormCtrl.carbsType.errors.required">
                      Required field
                    </div>
                  </div>
                  
                </div>


              <div class="form-group row">
                <div class="col-4 mt-3">
                  <label for="time"><i class="zmdi zmdi-time"></i> {{ 'carbs.timeofmeal' | translate }}</label>
                </div>
                <div class="col-8">
                  <ngb-timepicker formControlName="carbsTime" name="carbsTime"></ngb-timepicker>
                </div>
              </div>

              <div class="form-group">
                  <div class="col-md-12 mt-3">
                    <div class="row">
                      <label for="food_carbs"><i class="zmdi zmdi-assignment"></i></label>
                      <input formControlName="carbsItem" type="text" name="carbsItem" id="carbsItem"
                        placeholder="{{ 'carbs.typeoffood' | translate }}" />
                    </div>
                  </div>
                  <div *ngIf="isSubmitted && carbsFormCtrl.carbsItem.invalid" class="invalid-feedback">
                    <div *ngIf="carbsFormCtrl.carbsItem.errors.required">
                      Required field
                    </div>
                  </div>
                </div>
              

              <div class="form-group form-button">
                <input type="submit" name="submit" id="submit" class="btn btn-form btn-block" value="{{ 'carbs.submit' | translate }}"
                  *ngIf="!formProcess" />
                <span class="btn btn-block" *ngIf="formProcess">Please wait...</span>
              </div>
              <div class="form-group form-button">
                <input type="button" class="btn btn-form btn-block" value="{{ 'carbs.generatechart' | translate }}" *ngIf="!formProcess"
                  data-toggle="modal" data-target="#exampleModalScrollable3" (click)="loadGraph()" />
                <span class="btn btn-block" *ngIf="formProcess">Please wait...</span>
              </div>
              <div class="form-group error {{errMsg.class}}">
                <span>{{errMsg.msg}}</span>
              </div>
            </form>
          </div>
        </div>
        <div class="col-2">
          <!-- Modal -->
         <!-- Modal -->
        <div class="modal fade" id="exampleModalScrollable3" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <p class="modal-title" id="exampleModalScrollableTitle">Diabetes Chart</p>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" id="modal-body3">
              <div class="form-row">
                <div class="form-group col-md-3"></div>
                <div class="form-group col-md-3">
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">{{ 'report.startdate' | translate }}</span>
                    </div>
                    <input id="startDate" type="date" placeholder="yyyy-mm-dd" class="form-control"
                      [(ngModel)]="startDate" (change)="onDateChange($event.target.value)">
                  </div>
                </div>
                <div class="form-group col-md-3">
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">{{ 'report.enddate' | translate }}</span>
                    </div>
                    <input id="endDate" type="date" placeholder="yyyy-mm-dd" class="form-control"
                      [(ngModel)]="endDate" (change)="onDateChange($event.target.value)">
                  </div>
                </div>
                <div class="form-group col-md-3"></div>
              </div>

              <div class="container">
                <div id="chartist-chart3" class="ct-chart " data-x-axis="Time" data-y-axis="Glucose Level"></div>
              </div>
            
              <div class="row mb-1 mt-3 justify-content-center">
                <div class="custom-control custom-checkbox">
                  <input [(ngModel)]="carbsCheckBoxGroup.insulinCheck" type="checkbox" class="insulincustom custom-control-input" id="insulinCheck2"
                    (change)="onChecked($event.target.checked,'INSULIN')">
                  <label class="custom-control-label" for="insulinCheck2">{{ 'report.insulin' | translate }}</label>
                </div>
                <div class="custom-control custom-checkbox ml-3">
                  <input [(ngModel)]="carbsCheckBoxGroup.activityCheck" type="checkbox" class="activitycustom custom-control-input" id="activityCheck2"
                    (change)="onChecked($event.target.checked,'ACTIVITY')">
                  <label class="custom-control-label" for="activityCheck2">{{ 'report.activity' | translate }}</label>
                </div>
                <div class="custom-control custom-checkbox ml-3">
                  <input [(ngModel)]="carbsCheckBoxGroup.carbsCheck" type="checkbox" class="carbscustom custom-control-input" id="carbsCheck2"
                    (change)="onChecked($event.target.checked,'CARBS')">
                  <label class="custom-control-label" for="carbsCheck2">{{ 'report.carbs' | translate }}</label>
                </div>
                <div class="custom-control custom-checkbox ml-3">
                  <input [(ngModel)]="carbsCheckBoxGroup.glucoseCheck" type="checkbox" class="glucosecustom custom-control-input" id="glucoseCheck2"
                    (change)="onChecked($event.target.checked,'Glucose')">
                  <label class="custom-control-label" for="glucoseCheck2">{{ 'report.glucose' | translate }}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        </div>
      </div>
    </div>
  </div>
</section>