<!-- Glucose form -->
<section class="">
  <div class="container-fluid">
    <div class="row shadow-none bg-white rounded formBodyOuter">
      <!-- <div class="col-2"></div> -->
      <div class="form-body-inside">
        <div class="signup-content text-center">
          <div class=" w-100">
            <h2 class="form-title">{{ 'glucose.glucosetitle' | translate }}</h2>
            <form class="register-form" id="register-form" (ngSubmit)="onSubmit()" [formGroup]="glucoseReactForm"
              [mustMatch]="['pass', 'repass']" novalidate>

              <div class="form-group">
                <div class="col-md-12">
                  <select [ngClass]="{'selectColor': glucoseFormCtrl.glucoseType.value ==''}" class="form-control"
                    name="glucoseType" id="glucoseType" placeholder="Insulin dosage" formControlName="glucoseType"
                    name="car">
                    <option value="" selected="true" class="please-select">{{ 'glucose.pleaseselect' | translate }}</option>
                    <option value="1">
                      {{ 'glucose.beforemeal' | translate }}
                    </option>
                    <option value="2">
                      {{ 'glucose.aftermeal' | translate }}
                    </option>
                    <option value="3">
                      {{ 'glucose.othertime' | translate }}
                    </option>
                  </select>
                </div>
                <div *ngIf="isSubmitted && glucoseFormCtrl.glucoseType.invalid" class="invalid-feedback">
                  <div *ngIf="glucoseFormCtrl.glucoseType.errors.required">
                    Required field
                  </div>
                </div>
               
              </div>

              <div class="form-group row">
                <div class="col-4 mt-3">
                  <label for="time"><i class="zmdi zmdi-time"></i> {{ 'glucose.time' | translate }}</label>
                </div>
                <div class="col-8">
                  <ngb-timepicker formControlName="glucoseTime" name="glucoseTime"></ngb-timepicker>
                </div>
              </div>

              <div class="form-group row">

                <div class="col-8 mt-3">
                  <input formControlName="glucoseLevelUnits" name="glucoseLevelUnits" required />
                  
                  <div *ngIf="isSubmitted && glucoseFormCtrl.glucoseLevelUnits.invalid" class="invalid-feedback">
                    <div *ngIf="glucoseFormCtrl.glucoseLevelUnits.errors.required">
                      Required field
                    </div>
                  </div>
                </div>
                <div class="col-4 mt-3">
                  <label><i></i> {{ 'glucose.mmol' | translate }}</label>
                </div>
              </div>

              <div class="form-group form-button">
                <input type="submit" name="submit" id="submit" class="btn btn-form btn-block" value="{{ 'glucose.submit' | translate }}"
                  *ngIf="!formProcess" />
                <span class="btn btn-block" *ngIf="formProcess">Please wait...</span>
              </div>
              <div class="form-group form-button">
                <input type="button" class="btn btn-form btn-block" value="{{ 'glucose.generatechart' | translate }}" *ngIf="!formProcess"
                  data-toggle="modal" data-target="#exampleModalScrollable4" (click)="loadGraph()" />
                <span class="btn btn-block" *ngIf="formProcess">Please wait...</span>
              </div>
              <div class="form-group error {{errMsg.class}}">
                <span>{{errMsg.msg}}</span>
              </div>
            </form>
          </div>
        </div>
        <div class="col-2">
          <!-- Modal -->
          <!-- Modal -->
        <div class="modal fade" id="exampleModalScrollable4" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <p class="modal-title" id="exampleModalScrollableTitle">Diabetes Chart</p>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" id="modal-body4">
              <div class="form-row">
                <div class="form-group col-md-3"></div>
                <div class="form-group col-md-3">
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">{{ 'report.startdate' | translate }}</span>
                    </div>
                    <input id="startDate" type="date" placeholder="yyyy-mm-dd" class="form-control"
                      [(ngModel)]="startDate" (change)="onDateChange($event.target.value)">
                  </div>
                </div>
                <div class="form-group col-md-3">
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">{{ 'report.enddate' | translate }}</span>
                    </div>
                    <input id="endDate" type="date" placeholder="yyyy-mm-dd" class="form-control"
                      [(ngModel)]="endDate" (change)="onDateChange($event.target.value)">
                  </div>
                </div>
                <div class="form-group col-md-3"></div>
              </div>

              <div class="container">
                <div id="chartist-chart4" class="ct-chart " data-x-axis="Time" data-y-axis="Glucose Level"></div>
              </div>
            
              <div class="row mb-1 mt-3 justify-content-center">
                <div class="custom-control custom-checkbox">
                  <input [(ngModel)]="glucoseCheckBoxGroup.insulinCheck" type="checkbox" class="insulincustom custom-control-input" id="insulinCheck3"
                    (change)="onChecked($event.target.checked,'INSULIN')">
                  <label class="custom-control-label" for="insulinCheck3">{{ 'report.insulin' | translate }}</label>
                </div>
                <div class="custom-control custom-checkbox ml-3">
                  <input [(ngModel)]="glucoseCheckBoxGroup.activityCheck" type="checkbox" class="activitycustom custom-control-input" id="activityCheck3"
                    (change)="onChecked($event.target.checked,'ACTIVITY')">
                  <label class="custom-control-label" for="activityCheck3">{{ 'report.activity' | translate }}</label>
                </div>
                <div class="custom-control custom-checkbox ml-3">
                  <input [(ngModel)]="glucoseCheckBoxGroup.carbsCheck" type="checkbox" class="carbscustom custom-control-input" id="carbsCheck3"
                    (change)="onChecked($event.target.checked,'CARBS')">
                  <label class="custom-control-label" for="carbsCheck3">{{ 'report.carbs' | translate }}</label>
                </div>
                <div class="custom-control custom-checkbox ml-3">
                  <input [(ngModel)]="glucoseCheckBoxGroup.glucoseCheck" type="checkbox" class="glucosecustom custom-control-input" id="glucoseCheck3"
                    (change)="onChecked($event.target.checked,'Glucose')">
                  <label class="custom-control-label" for="glucoseCheck3">{{ 'report.glucose' | translate }}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        </div>
      </div>
    </div>
  </div>
</section>