<div class="container-fluid" style="overflow-x: hidden;">
  <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                    <span class="input-group-text">{{'report.startdate' | translate}}</span>
                </div>
                <input id="startDate" type="date" placeholder="yyyy-mm-dd" class="form-control" [(ngModel)]="startDate" (change)="onDateChange($event.target.value, 'START')" />
            </div>
        </div>
        <div class="col-md-offset-1 col-md-3">
            <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                    <span class="input-group-text">{{'report.enddate' | translate}}</span>
                </div>
                <input id="endDate" type="date" placeholder="yyyy-mm-dd" class="form-control" [(ngModel)]="endDate" (change)="onDateChange($event.target.value, 'END')" />
            </div>
        </div>
        <div class="col-md-3"></div>
  </div>

  <div class="graph-wrapper">
    <div class="row">
      <div class="col-sm-12">
        <div class="text-center glucose-mobile">
            <dl style="margin-bottom: 0; margin-right: 193px;"><b>{{(islanguageEnglish)? 'Glucose Level Chart': 'Glukosnivån'}}</b></dl>
        </div>
        <div class="chart-wrap"
          [hidden]="!showGlucose"
        >
          <div id="chartArea" (window:resize)="onResize($event)" class="chart-wrapper"></div>
          <div id="glucose-slider"></div>
        </div>
      </div>
    </div>

    <!-- <div class="slider-wrap">
      <ng5-slider
        [(value)]="value"
        [(highValue)]="maxValue"
        [options]="options"
        (userChange)="onUserChange($event)"
      ></ng5-slider>
    </div> -->

  </div>
</div>
