
/*------------------------------------------*/
/*------------------------------------------*/
.stepBarClass {
  width:90%;
  height:10px;
  background:lightgray;
  border-radius:5px;
  }

.stepSliderClass
{
  width:20px;
  height:20px;
  background:lightgray;
  border-radius:50%;    
  border:1px solid royalblue;
  bottom:-50% !important;
  }
.stephighlightClass{
  background:royalblue;
  }

/*-------------  Date Range ----------------*/
#time-range p {
  font-family:"Arial", sans-serif;
  font-size:14px;
  color:#333;
}
.ui-slider-horizontal {
  height: 8px;
  background: #D7D7D7;
  border: 1px solid #BABABA;
  box-shadow: 0 1px 0 #FFF, 0 1px 0 #CFCFCF inset;
  clear: both;
  margin: 8px 0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
.ui-slider {
  position: relative;
  text-align: left;
}
.ui-slider-horizontal .ui-slider-range {
  top: -1px;
  height: 100%;
}
.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  height: 8px;
  font-size: .7em;
  display: block;
  border: 1px solid #5BA8E1;
  box-shadow: 0 1px 0 #AAD6F6 inset;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  background: #81B8F3;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #A0D4F5), color-stop(100%, #81B8F3));
  background-image: -webkit-linear-gradient(top, #A0D4F5, #81B8F3);
  background-image: -moz-linear-gradient(top, #A0D4F5, #81B8F3);
  background-image: -o-linear-gradient(top, #A0D4F5, #81B8F3);
  background-image: linear-gradient(top, #A0D4F5, #81B8F3);
}
.ui-slider .ui-slider-handle {
  border-radius: 50%;
  background: #F9FBFA;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #C7CED6), color-stop(100%, #F9FBFA));
  background-image: -webkit-linear-gradient(top, #C7CED6, #F9FBFA);
  background-image: -moz-linear-gradient(top, #C7CED6, #F9FBFA);
  background-image: -o-linear-gradient(top, #C7CED6, #F9FBFA);
  background-image: linear-gradient(top, #C7CED6, #F9FBFA);
  width: 22px;
  height: 22px;
  -webkit-box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.6), 0 -1px 0 1px rgba(0, 0, 0, 0.15) inset, 0 1px 0 1px rgba(255, 255, 255, 0.9) inset;
  -moz-box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.6), 0 -1px 0 1px rgba(0, 0, 0, 0.15) inset, 0 1px 0 1px rgba(255, 255, 255, 0.9) inset;
  box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.6), 0 -1px 0 1px rgba(0, 0, 0, 0.15) inset, 0 1px 0 1px rgba(255, 255, 255, 0.9) inset;
  -webkit-transition: box-shadow .3s;
  -moz-transition: box-shadow .3s;
  -o-transition: box-shadow .3s;
  transition: box-shadow .3s;
}
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 22px;
  height: 22px;
  cursor: default;
  border: none;
  cursor: pointer;
}
.ui-slider .ui-slider-handle:after {
  content:"";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  top: 50%;
  margin-top: -4px;
  left: 50%;
  margin-left: -4px;
  background: #30A2D2;
  -webkit-box-shadow: 0 1px 1px 1px rgba(22, 73, 163, 0.7) inset, 0 1px 0 0 #FFF;
  -moz-box-shadow: 0 1px 1px 1px rgba(22, 73, 163, 0.7) inset, 0 1px 0 0 white;
  box-shadow: 0 1px 1px 1px rgba(22, 73, 163, 0.7) inset, 0 1px 0 0 #FFF;
}
.ui-slider-horizontal .ui-slider-handle {
  top: -.5em;
  margin-left: -.6em;
}
.ui-slider a:focus {
  outline:none;
}
/*------------------------------------------*/
/*------------------------------------------*/
/*Primary Chart*/

/*Nested divs for responsiveness*/
.chart-wrapper {
  max-width: 800px;  /*Overwritten by the JS*/
  min-width: 304px;
  margin-bottom: 8px;
  background-color: #FAF7F7;
}
.chart-wrapper .inner-wrapper {
  position: relative;
  padding-bottom: 50%; /*Overwritten by the JS*/
  width: 100%;
}
.chart-wrapper .outer-box {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.chart-wrapper .inner-box {
  width: 100%;
  height: 100%;
}

.chart-wrapper text {
font-family: sans-serif;
font-size: 13px;
}

.chart-wrapper .axis path,
.chart-wrapper .axis line {
  fill: none;
  stroke: #888;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

.chart-wrapper .y.axis .tick line {
  stroke: lightgrey;
  opacity: 0.6;
  stroke-dasharray: 2,1;
  stroke-width: 1;
  shape-rendering: crispEdges;

}

.chart-wrapper .x.axis .domain {
display: none;
}

.chart-wrapper div.tooltip {
  position: absolute;
  text-align: left;
  padding: 3px;
  font: 12px sans-serif;
  background: lightcyan;
  border: 0px;
  border-radius: 1px;
  pointer-events: none;
  opacity: 0.7;
}

/*Box Plot*/
.chart-wrapper .box-plot .box {
  fill-opacity: 0.4;
  stroke-width: 2;
}
.chart-wrapper .box-plot line {
  stroke-width: 2px;
}
.chart-wrapper .box-plot circle {
  fill: white;
  stroke: black;
}

.chart-wrapper .box-plot .median {
  stroke: black;
}

.chart-wrapper .box-plot circle.median {
  /*the script makes the circles the same color as the box, you can override this in the js*/
  fill: white !important;
}

.chart-wrapper .box-plot .mean {
  stroke: white;
  stroke-dasharray: 2,1;
  stroke-width: 1px;
}

@media (max-width:500px){
  .chart-wrapper .box-plot circle {display: none;}
}

/*Violin Plot*/

.chart-wrapper .violin-plot .area {
  shape-rendering: geometricPrecision;
  opacity: 0.4;
}

.chart-wrapper .violin-plot .line {
  fill: none;
  stroke-width: 2px;
  shape-rendering: geometricPrecision;
}

/*Notch Plot*/
.chart-wrapper .notch-plot .notch {
  fill-opacity: 0.4;
  stroke-width: 2;
}

/* Point Plots*/
.chart-wrapper .points-plot .point {
  stroke: black;
  stroke-width: 1px;
}

.chart-wrapper .metrics-lines {
  stroke-width: 4px;
}

/* Non-Chart Styles for demo*/
.chart-options  {
  min-width: 200px;
  font-size: 13px;
  font-family: sans-serif;
}
.chart-options button {
  margin: 3px;
  padding: 3px;
  font-size: 12px;
}
.chart-options p {
  display: inline;
}
@media (max-width:500px){
  .chart-options p {display: block;}
}

ngx-tooltip-content.ngx-charts-tooltip-content.type-tooltip {
  .tooltip-caret.position-top {
    border-top-color: white;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  }

  background-color: white;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
// BUTTON
@media screen and (max-width: 600px) {
  .navBtn {
    padding-bottom: 15px;
  }
}

$main-color: brown;
// // BUTTON

.row {
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 20px;
}
.invalid-feedback {
  display: block;
  text-align: center;
}

// .ml-10 {
//   margin-left: 8% !important;
// }

// .tweet-img {
//   margin-top: 50px;
//   // min-height: 380px;
//   padding: 30px;
// }
// .tweet-img .title {
//   font-family: "Kaushan Script", cursive;
//   color: rgb(82, 47, 47);
// }
// span {
//   display: block;
//   margin: 0 auto;
// }
// .upload-input {
//   display: none;
// }
// .btn {
//   cursor: pointer;
//   width: 50%;
//   // margin-left:25%;
//   //background-color: #008000;
//   //border-color: #008000;
//   color: white;

//   // &:hover,
//   // &:focus,
//   // &:active {
//   //   border-color: #008000 !important;
//   //   background-color: #008000!important;
//   // }
// }

// img {
//   background: rgb(251, 171, 171);
//   border-radius: 20%;
//   width: 200px;
//   height: 200px;
//   display: block;
// }

.darkblue {
  background: brown !important;
  border-color: brown !important;
  color: #ffffff;
  // margin-left: 25%;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}
.turquoise {
  background: #ffdb58 !important;
  border-color: #ffdb58 !important;
  color: #ffffff;
  // margin-left: 25%;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}
// .w-100 {
//   width: 100% !important;
// }

// @media screen and (max-width: 900px) {
//   .image-upload {
//     margin-top: 120px;
//   }

//   img {
//     width: 100px;
//     height: 100px;
//     float: left;
//     margin-right: 20px;
//   }
//   .tweet-img {
//     margin-top: 25px;
//   }
// }

// @media screen and (max-width: 400px) {
//   img {
//     width: 50px;
//     height: 50px;
//     float: left;
//     margin-right: 20px;
//   }
//   .tweet-img {
//     margin-top: 10px;
//   }
//   .turquoise {
//     background: #ffdb58 !important;
//     border-color: #ffdb58 !important;
//     color: #ffffff;
//     // margin-left: 25%;
//     cursor: pointer;
//     display: inline-block;
//     font-weight: 400;
//     background-color: transparent;
//     border: 1px solid transparent;
//     padding: 0.375rem 0.75rem;
//     font-size: 1rem;
//     border-radius: 0.25rem;
//   }
//   .darkblue {
//     background: brown!important;
//     border-color: brown!important;
//     color: #ffffff;
//     // margin-left: 25%;
//     cursor: pointer;
//     display: inline-block;
//     font-weight: 400;
//     background-color: transparent;
//     border: 1px solid transparent;
//     padding: 0.375rem 0.75rem;
//     font-size: 1rem;
//     border-radius: 0.25rem;
//   }
//   .btn {
//     cursor: pointer;
//     width: 50%;
//     // margin-left:25%;
//     background-color: #008000;
//     border-color: #008000;
//     color: white;

//     &:hover,
//     &:focus,
//     &:active {
//       border-color:#008000 !important;
//       background-color: #008000 !important;
//     }
//   }
// }
// INSULIN
.invalid-feedback {
  display: block;
}
.btn {
  background: #008000;
  color: #fff;
  margin-bottom: 5px;
}
.btn-form {
  background: brown !important;
  border-color: brown !important;
  color: #fff !important;
}
.form-title {
  font-family: "Kaushan Script", cursive;
  color: rgb(82, 47, 47);
}
.signup-image-link {
  font-family: "IBM Plex Mono", monospace;
  color: rgb(82, 47, 47);
  font-size: 25px;
}
.ml-15 {
  margin-left: 15px;
}
.card {
  border: 0px solid;
  background-color: transparent;
}
.card-header {
  border: 0px solid;
  background-color: transparent;
  padding: 0px;
}
.card-header .btn {
  width: 100%;
  text-decoration: none;
  color: #ffffff;
  margin-bottom: 5px;
}
.card-header .btn-insulin {
  background: brown !important;
  border-color: brown !important;
}
.card-header .btn-activityLevel {
  background: #008000;
  color: #fff;
}
.btn-card-amount {
  background: #ffdb58 !important;
  border-color: #ffdb58 !important;
}
.card-header .btn-glucoselevel {
  background-color: rgb(106, 90, 205);
  border: rgb(106, 90, 205) !important;
}

#timeline {
  list-style: none;
  position: relative;
}
#timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 2px;
  background-color: brown;
  left: 50%;
  margin-left: -1.5px;
}
#timeline .clearFix {
  clear: both;
  height: 0;
}
#timeline .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  font-size: 1.2em;
  text-align: center;
  position: absolute;
  top: 20px;
  left: 50%;
  margin-left: -25px;
  background-color: brown;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
#timeline .timeline-badge span.timeline-balloon-date-day {
  font-size: 1.4em;
  position: relative;
  top: -3px;
  left: 11px;
}
#timeline .timeline-badge span.timeline-balloon-date-month {
  font-size: 0.7em;
  position: relative;
  top: 10px;
  left: -14px;
}
#timeline .timeline-badge.timeline-filter-movement {
  background-color: #ffffff;
  font-size: 1.7em;
  height: 35px;
  margin-left: -18px;
  width: 35px;
  top: 40px;
}
#timeline .timeline-badge.timeline-filter-movement a span {
  color: brown;
  font-size: 1.3em;
  top: -1px;
}
#timeline .timeline-badge.timeline-future-movement {
  background-color: #ffffff;
  height: 35px;
  width: 35px;
  font-size: 1.7em;
  top: -16px;
  margin-left: -18px;
}
#timeline .timeline-badge.timeline-future-movement a span {
  color: brown;
  font-size: 0.9em;
  top: 2px;
  left: 1px;
}
#timeline .timeline-movement {
  border-bottom: dashed 1px brown;
  position: relative;
}
#timeline .timeline-movement.timeline-movement-top {
  height: 60px;
}
#timeline .timeline-movement .timeline-item {
  padding: 20px 0;
}
#timeline .timeline-movement .timeline-item .timeline-panel {
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  background-color: #ffffff;
  color: #666;
  padding: 10px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
#timeline .timeline-movement .timeline-item .timeline-panel .timeline-panel-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#timeline
  .timeline-movement
  .timeline-item
  .timeline-panel.credits
  .timeline-panel-ul {
  text-align: right;
}
#timeline
  .timeline-movement
  .timeline-item
  .timeline-panel.credits
  .timeline-panel-ul
  li {
  color: #666;
}
#timeline
  .timeline-movement
  .timeline-item
  .timeline-panel.credits
  .timeline-panel-ul
  li
  span.importo {
  color: #468c1f;
  font-size: 1.8;
}
.timeline-panel.credits {
  width: 100%;
  margin-right: 25px;
}
.timeline-panel.debits {
  width: 100%;
  margin-left: 25px;
}
#timeline
  .timeline-movement
  .timeline-item
  .timeline-panel.debits
  .timeline-panel-ul {
  text-align: left;
}
#timeline
  .timeline-movement
  .timeline-item
  .timeline-panel.debits
  .timeline-panel-ul
  span.importo {
  color: #e2001a;
  font-size: 1.8;
}

.btn-default-form {
  background: #e9ecef !important;
  border-color: #e9ecef !important;
  color: #717171 !important;
}
.headActivity {
  color: #008000 !important;
}
.headCarbs {
  color: #ffdb58 !important;
}
.headInsulin {
  color: brown !important;
}
.headGlucose {
  color: slateblue !important;
}
.notGlucoseType {
  visibility: hidden;
}
.verticaltext_heading {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  color: #fff;
  position: absolute;
  top: 10px;
  left: 10px;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: bold;
}
.g_h {
  height: 175px !important;
}
@media screen and (max-width: 840px) {
  .verticaltext_heading {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    color: #fff;
    position: relative;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
  }
  .g_h {
    height: auto !important;
    line-height: 28px;
    padding-bottom: 10px;
  }
}

.insulincustom:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: brown;
  background-color: brown;
}
.activitycustom:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #008000;
  background-color: #008000;
}
.carbscustom:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #ffdb58;
  background-color: #ffdb58;
}
.glucosecustom:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: slateblue;
  background-color: slateblue;
}
// .insulincustom:checked~.custom-control-label::after {
//   margin-top: 5px;
// }
// .activitycustom:checked~.custom-control-label::before {
//   margin-top: 5px;
// }
// .activitycustom:checked~.custom-control-label::after {
//   margin-top: 5px;
// }
input:checked ~ .custom-control-label::after,
input:checked ~ .custom-control-label::before {
  margin-top: 0px;
}
input[type="checkbox"] .custom-control-label::after{
  margin-top: 5px !important;
}
input[type="checkbox"] + label {
  display: inline-block;

  line-height: 21px !important;
  margin-right: 12px !important;
}
.input-group-text{
  min-width: 80px !important;
}
.md-btn{
  margin-left: 8.3%;
}
.md_wd{
  -webkit-box-flex: 0 !important;
    flex: 0 0 45% !important;
    max-width: 45% !important;
}
.btn-container .manage-margin{
  margin-left: 8% !important;
}
@media only screen and (max-width: 1200px) {
  .btn-container .manage-margin{
    margin-left: 10% !important;
  }
}
@media only screen and (max-width: 800px) {
  .md-btn{
    margin-left: 16%;
    width: 86%;
  }
  .md_inline{
    display:inline-block;
    width: 50% !important;
  }
  .btn-container .manage-margin{
    margin-left: 13% !important;
  }
  .btn-container .manage-margin .col-md-6{
    padding: 0 !important;
  }
}